<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Item</title>
    <style>
      .container{
              display:flex;
              width: 100%;
               flex-wrap: wrap;
               justify-content: space-between;

            }
            body{
              background-color: #FAF0E6;
            }
            .header{
    display:flex;
    width: 100%;
    background-color: #FFEBCD;
    border: 2px solid black;
    font-family: 'Fugaz One', cursive;
    margin-top: 20px;
    justify-content: center;
    list-style-type: none;

  }
  .middle{
    display:flex;

    background-color: #FFEBCD;
    border: 2px solid black;
    font-family: 'Fugaz One', cursive;
    margin-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration-style: none;
    padding: 10px;
    margin: 20px;
    list-style-type: none;
  }
  #line{
      text-decoration-line: none;
      color:black;
  }
  .img{
    width: 140px;
  }
  .items {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0 auto;

  }
  .button1 {
    display: flex;
    justify-content: center;
    background-color: #FFEBCD;
      margin: 0 auto;

  }
  .button {
    display: flex;
    justify-content: center;
    background-color: #FFEBCD;
    margin-top: 20px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .btncreate {
    display: flex;
    justify-content: center;

  }
  #linelogout{
  background-color: #FFEBCD;
  }
    </style>
  </head>
  <body>
    <div class='header'>
    <%if (currentUser) {%>
      <li>Welcome <%=currentUser.username%></li>

  <form action="/sessions?_method=DELETE" method="POST">
    <input id='linelogout'type="submit" name="" value="Log Out">
  </form>
  <%} else {%>
      <li> <a href="/users/new">Sign Up</a></li>
      <li><a href="/sessions/new">Log In</a></li>
  <%  } %>
  <br/>
  </div>

    <div class='header'>
    <h1>edit page</h1>
    </div>
    <button class='button'><a id='line'href="/storeuritems">Home Page</a></button><br></br>
    <div class='middle'>
    <form  action="/storeuritems/<%=items.id%>?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" value="<%=items.name%>">
      <label for="serialNumber">Serial Number:</label>
      <input type="text" name="serialNumber" value="<%=items.serialNumber%>">
      <label for="idNumber">Id Number:</label>
      <input type="text" name="idNumber" value="<%=items.idNumber%>">
      <label for="img">Image:</label>
      <input type="text" name="img" value="<%=items.img%>">
      <label for="description">Description:</label>
      <input type="text" name="description" value="<%=items.description%>">
      <label for="price">Price:</label>
      <input type="text" name="price" value="<%=items.price%>">

         <input class='button1'type="submit" value="Confirm Changes">
    </form>
</div>

  </body>
</html>
